[Unit]
Description=ImmoSearch

[Service]
User=immosearch
Group=immosearch
ExecStart=/usr/local/bin/immosearchd

[Install]
WantedBy=wsgi-services.target
