[Unit]
Description=ImmoSearch
After=network.target mysql.service
Wants=mysql.service

[Service]
User=immosearch
Group=immosearch
ExecStart=/usr/local/bin/immosearchd

[Install]
WantedBy=multi-user.target
